---
import Adesion from "../components/Adesion.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import perbaccoSalaWedding from "../img/perbacco-sala-wedding.jpg";
import perbaccoEsterna from "../img/perbacco-esterna.jpg";
---

<Layout title="programma esteso">
  <Section id="programma">
    <div class="col-span-12">
      <a class="underline" href="/matrimoniomarcoekatia/">← Torna alla Home</a>
    </div>
    <div class="col-span-12 [&>p]:mb-3">
      <SectionTitle>Cosa ti aspetta in questa giornata</SectionTitle>
      <img src={perbaccoSalaWedding.src} alt="" class="md:w-[60%] mx-auto mb-5">
      <p>In questa sezione troverai tutte le informazioni su come abbiamo pensato di organizzare la festa al Perbacco.</p>
      <p>Appena entrati nel locale, ti attenderà all'esterno un bel drink alcolico o analcolico fresco in attesa dell'arrivo degli sposi.</p>
      <p>Promettiamo di non farti aspettare tanto, anche perché non siamo tipi da volere troppe foto e poi anche noi avremo una fame da lupi verso mezzogiorno.</p>
      <p>Durante questo lasso di tempo, ti consiglio di informarti sul tavolo in cui sei stato collocato. Troverai dei simpatici foglietti che spiegano in quale tavolo sei e chi saranno i tuoi compagni di avventura (per eventuali reclami sulla disposizione dei tavoli, rivolgersi al customer care digitando il numero <a class="underline" href="tel:+390000000">+39 000 00000</a> e riceverete subito una tempestiva risposta).</p>
      <p>Una volta arrivati gli sposi alla location, ci sarà un momento per i saluti. Ci teniamo tanto a ringraziare tutti i presenti per la partecipazione.</p>
      <img src={perbaccoEsterna.src} alt="" class="md:w-[60%] mx-auto my-5">
      
      <p>Dopodiché, andremo finalmente tutti insieme alla sala allestita per il banchetto. Si, non è un semplice antipasto, è qualcosa che non puoi immaginare e che accontenterà un po' i gusti di tutti considerata la varietà dei piatti che abbiamo scelto.</p>
      <p>Potrai trovare l'isola con i fritti, l'isola con gli affettati (ci sta pure la porchetta!), l'isola con il pesce, l'isola con la carne, l'isola con le verdure, l'isola vegana e le isole che noi definiamo speciali: quella con la paella e quella con il sushi!</p> 
      <p>Come amanti del cibo orientale, non potevamo dimenticarci un'isoletta con il sushi. So che qualcuno apprezzerà particolarmente! Mi raccomando, lasciatene qualcuno per gli sposi 🤣</p>
      <p>Se dopo il banchetto dovessi avere ancora fame, tranquillo perché non finisce qui...quindi, lascia un posticino per i due primi e un secondo (questi non te li dico, saranno a sorpresa).</p>
      <p>Tra un piatto e l'altro sicuramente avrai la possibilità di alzarti e parlare anche con le persone e ballare.</p>
      <p>Ti consiglio anche di assistere ad eventuali scherzi che saranno fatti a due malcapitati in particolare... potrebbe essere divertente, almeno per chi assiste 😂</p>
      <p>Nel tardo pomeriggio/sera ci recheremo fuori la location dalla parte della piscina per il taglio della torta. Dopo il taglio della torta ci sarà il fatidico ballo tra gli sposi, dove finalmente scoprirai che non sappiamo ballare (ma ci proviamo comunque).</p> 
      <p>Oltre alla torta, per i più golosi, abbiamo pensato ad un ulteriore banchetto di dolci con gelato, frutta, cioccolata, pasticceria, confetti e altro ancora.</p>
      <p>Dopo aver mangiato fino a scoppiare, però, è bene aiutare la digestione con un bel caffè e ammazzacaffè e per i più arditi un drink che aiuterà per la fase successiva caldamente consigliata: il ballo!</p>
      <p>La location si trasformerà in una specie di discoteca dove potrai dare sfogo a tutta l'energia accumulata nel giorno e magari anche smaltire tutta quella roba che hai mangiato.</p>
      <p>Poi, come tutte le cose belle che prima o poi finiscono, ci dovremo salutare. Però, rimarrà per sempre il ricordo di una giornata fantastica passata insieme e piena di momenti di gioia.</p>
      <p>Quindi, cosa aspetti? Sbrigati a confermare la partecipazione, cliccando sul bottone qui sotto</p>
  </div>
  </Section>
  <Adesion />
</Layout>