---
interface Props {
	src: string;
  rotationDirection: "positive" | "negative" | "none"
}



const { src, rotationDirection } = Astro.props;
---

<div class="relative flex justify-center">
  <img
  class:list={[
    "shadow-lg p-3 pb-12",
    rotationDirection === "positive"? "md:rotate-3" : "md:-rotate-3"
  ]}
  src={src}
  alt=""
  />
</div>