---
interface Props {
  id: string
  bgColor?: string
}

const { id, bgColor } = Astro.props;
---

<div class={bgColor}>
  <section id={id} class="xl:w-[64rem] md:mx-auto py-10 md:py-20 px-6 lg:px-4 xl:px-0 flex flex-col md:grid grid-cols-12 gap-10">
    <slot />
  </section>
</div>